{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="card text-white bg-primary mb-3">
        <div class="card-body">

            {% if is_granted('ROLE_ADMIN') and form %}
                {{ form_start(form) }}
                    {{ form_widget(form.descriptionPresentation) }}
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-warning mt-2'}}) }}
                {{ form_end(form) }}
            {% else %}
                <p class="card-text">{{ presentation.descriptionPresentation }}</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
