<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="{{ asset('assets/img/logo.png') }}" style="border-radius: 50%; height: 70px; width:70px;" alt="logo_boulangerie">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="{{ path('app_accueil') }}">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_presentation') }}">Présentation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_prestation') }}">Prestation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_avis') }}">Avis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_voir_contact') }}">Voir les contacts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_voir_avis') }}">Voir les avis</a>
                  </li>
                {% endif %}
              </ul>

              {% if not app.user %}
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
              {% else %}
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
              {% endif %}
            </div>
          </div>
        </nav>

        <main class="container mt-4">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
